{% assign hover_link = '
      class="font-semibold rounded-full py-1 text-center whitespace-nowrap text-sm px-2 sm:text-base sm:px-3"
      style="background:var(--color-hover-current-page); color:var(--color-text-current-page)"
' %}

{% assign usual_link = ' 
      class="font-semibold rounded-full hover:bg-[var(--color-custom-hover)] py-1 text-center whitespace-nowrap text-sm px-2 sm:text-base sm:px-3"
' %}

<div class="fixed left-0 right-0 bottom-4 z-50 flex justify-center sm:top-4 sm:bottom-auto sm:left-1/2 sm:right-auto sm:-translate-x-1/2">
  <div class="inline-flex h-10 sm:h-12 rounded-full items-center justify-between px-2 bg-white/40 backdrop-blur-md w-full max-w-xs sm:w-auto sm:max-w-none"
    style="backdrop-filter: blur(12px); -webkit-backdrop-filter: blur(12px);"
  >
    <a href="{{ site.url }}/" {{ usual_link }}>Главная</a>
    <a href="{{ site.url }}/media" {{ usual_link }}>Медиа</a>
    <a href="{{ site.url }}/ai" {{ usual_link }}>Метод AI</a>
    <a href="https://edu.{{ site.url | remove: 'https://' | remove: 'http://' }}" {{ hover_link }}>LMS</a>
    <a href="/about" {{ usual_link }}>О нас</a>
  </div>
</div>