:root {
  /* Градиент фона */
  --color-background: #E9FFE8;

  /* Навигационная панель */
  --color-hover-current-page: #0F1D07;
  --color-text-current-page: #90F188;

  /* Значок */
  --color-logo: #0F1D07;
}

@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(20deg); }
  75% { transform: rotate(-10deg); }
}

.wave-animation {
  display: inline-block;
  animation: wave 0.5s ease-in-out 4;
  animation-duration: 0.5s;
  transform-origin: 70% 70%;
}